body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #EDEDF4;
    color: black;
    font-size: 18pt;
}

hr {
    border: 1px solid #D8D8D8;
}

a {
    color: white;
    cursor: pointer;
}

button {
    padding: 16px;
    margin: 8px;
    font-size: 24pt;
    background: none;
    border-radius: 5px;
    border: none;
}

.row {
    margin: 0 !important;
}

.thumb {
    font-size: 164pt !important;
    margin-top: 25px;
    margin-bottom: 25px;
}

.thumb.up {
    color: #31D83A;
}

.thumb.slow {
    color: #FCBA04;
}

.thumb.down {
    color: #B3001B;
}

.status-line {
    font-size: 36pt;
    font-weight: bold;
}
