body {
    margin: 0;
    font-family: "Varela Round", sans-serif;
    background-color: #EDEDF4;
    color: white;
}

hr {
    border: 1px solid #D8D8D8;
}

a {
    color: white;
    cursor: pointer;
}

button {
    padding: 16px;
    margin: 8px;
    font-size: 48pt;
    background: none;
    border-radius: 5px;
    border: none;
    color: white;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.background-up {
    background-color: #4DAD5B;
    min-height: 100vh;
}

.background-down {
    background-color: #E3350D;
    min-height: 100vh;
}

.status-img img {
    margin-top: 100px;
    width: 60%;
    max-width: 256px;
}

.status-text {
    margin-top: 30px;
    font-size: 1.625em;
    line-height: 2em;
}

.status-date {
    font-size: 0.875em;
    line-height: 1.125em;
}

.status-refresh {
    margin-top: 30px;
}

.thumb {
    font-size: 164pt !important;
    margin-top: 25px;
    margin-bottom: 25px;
}

.thumb.up {
    color: #31D83A;
}

.thumb.slow {
    color: #FCBA04;
}

.thumb.down {
    color: #B3001B;
}

.status-line {
    font-size: 36pt;
    font-weight: bold;
}
